/* ProjectCard.css */

/* Container for the project cards */
.projects-container {
    display: flex; /* Use flexbox for horizontal layout */
    justify-content: space-around; /* Distribute items evenly with space around */
    flex-wrap: wrap; /* Allow cards to wrap to the next line if needed */
    padding: 20px; /* Add padding around the container */
    gap: 20px;
  }
  
  /* Styling for each project card */
  .project-card {
    display: flex;
    flex-direction: column;
    border: 2px solid #ccc;
    background-color: #f3fff3;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
    white-space: normal;
    word-wrap: break-word;
  }

  @media (max-width: 768px) {
    .project-card {
        width: 85%;
        height: 30%;
        max-width: 400px;
    }
  }
  
  .project-card:hover {
    transform: scale(1.05);
  }
  
  .project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .project-info {
    padding: 16px;
  }
  
  .project-name {
    font-size: 1.5em;
    margin: 0;
  }
  
  .project-description {
    font-size: 1em;
    color: #555;
    word-wrap: break-word;
  }
  
  /* Modal styling */
  .project-modal {
    background: rgb(255, 252, 252);
    padding: 20px;
    max-width: 800px;
    margin: auto;
    border-radius: 8px;
    overflow: auto;
  }
  
  .project-modal-overlay {
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .screenshots img {
    max-width: 100%;
    margin-bottom: 16px;
  }
  
  .close-modal-button {
    background: #ff5c5c;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }


  /* ProjectCard.css */

.visit-button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; /* No border */
    padding: 10px 20px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Display as block */
    font-size: 16px; /* Font size */
    margin-top: 10px; /* Top margin */
    cursor: pointer; /* Pointer cursor */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  .visit-button:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  .visit-button:active {
    background-color: #3e8e41; /* Dark green when clicked */
  }
  
  
  /* Responsive design */
  @media (max-width: 768px) {
    .projects-container {
      grid-template-columns: 1fr;
    }
  }
  